.symptoms{
    padding: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    height: 40vh;
    border-radius: 20px;
    background-color: #6263ff;
    box-shadow: 5px 5px 40px 5px rgba(0, 0, 0, 0.5);
}

.symptoms__content{
    margin: 30px;
    text-align: justify;
}

@media screen and (max-width: 990px){
    .card{
        margin: 20px
    }
}