.stat__map{
    padding: 20px;
}
.map{
    border-radius: 10px;
    margin: 10px;
    align-self: center;
}
.leaflet-container{
    height: 45vh;
    width: 50vw;
    border-radius:"10px";
    margin: 50px
}
::-webkit-scrollbar  {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #cec4c4; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #918686; 
    border-radius: 10px;
}
@media screen and (max-width:990px){
    .leaflet-container{
        width: 60vw;
    }
}
