.table{
    overflow: scroll;
    overflow-x: hidden;
    color: #252525;
    background-color: white;
    /* margin: 10px; */
    padding: 0px 10px;
    font-size: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.table tr{
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
}
.table td{
    padding: 0.4rem 1rem;
    margin: 1px;
    border: none;
}
.table tr:nth-of-type(odd){
    background-color: #e9e7e7;
}

@media screen and (max-width: 990px) {
    .table{
        width: 100%;
    }
}