.maindiv{
    display: flex;
    flex-direction: column;
    background-color: azure;
    border-radius: 20px;
    padding: 50px;
    flex-wrap: nowrap;
    width: 100%;
}
.upper_container{
    display: flex; 
    justify-content: space-between;
    margin: 30px
}
.stat__card{
    display: flex;
    justify-content: space-evenly;
}
.infocard{
    margin: 20px;
}
.stat__container{
    justify-content: space-between;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    margin-left: 30px;
    
}
.stat__map{
    background-color: white;
    display: flex;
    direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.states_data{
    width: 80%;
    background-color: white;
    padding: 10px;
    margin: 20px 10px;
    border-radius: 20px;
}
.states_data h4{
    color: orangered;
    padding: 10px;
}
.state{
    padding: 0 10px;
    margin: 10px
}

@media screen and (max-width: 990px) {
    .stat__map{
        direction: column;
        flex-wrap: wrap;
    }
    .maindiv{
        flex-wrap: wrap;
    }
    .upper_container{
        flex-direction: row;   
    }
}