.maindiv{
    display: flex;
    background-color: azure;
    border-radius: 20px;
    padding: 30px;
    flex-wrap: nowrap;
}
.stat__card{
    display: flex;
    justify-content: space-evenly;
}
.infocard{
    margin: 20px;
}
.stat__map{
    display: flex;
    direction: row;
    background-color: white;
    padding: 10px;
    margin: 10px;
    flex-wrap: nowrap;
    border-radius: 10px;
}
.left_container{
    width: 70%;
}
.right_container{
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}
.states_data{
    width: 80%;
    background-color: white;
    padding: 10px;
    margin: 20px 10px;
    border-radius: 20px;
}
.states_data h4{
    color: orangered;
    padding: 10px;
}
.state{
    padding: 0 10px;
    margin: 10px
}
@media screen and (max-width: 990px) {
    .stat__map{
        direction: column;
        flex-wrap: wrap;
    }
    .left_container{
        width: 100%;
    }
    .maindiv{
        flex-wrap: wrap;
    }
    .right_container{
        display: flex;
        direction: row;
    }
}