.footer{
    background-color: #222;
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
a{
    color:white;
}

.iconContainer{
     width: 60%;
     height: 50px;
     padding: 20px 0;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
}
