@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Quicksand:wght@500&display=swap');
.display{
  display: flex;
  flex-direction: column;
  margin-left: 150px;
 }
 .upperdisplay{
   width: 80%;
   display: flex;
   flex-direction: row;
   margin: .5%;
   margin-bottom: 2%;
   justify-content: space-between;
 }
 .homelogo{
   height: 5vh;
   margin-top: 6%;
 }
 h1{
  font-size: 360%; 
  margin-top: 0%;
 }
 .info{
   width:60%;
   font-family: fantasy;
   margin-left: 5%
 }
 .image{
   height: 50vh;
   width: 50vh;
   margin-left: 40%;
 }
 .card_title{
   color: white;
   font-family: inherit;
   font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.cards{
    width:90%;
    display: flex;
   flex-wrap: wrap;
  justify-content: center;
}

  .card{
      height: 35vh;
      width: 20vw;
      margin: 3%;
      margin-bottom: 5%;
      display:flex;
  flex-direction: column;
      background-color:rgba(22, 22, 22, 0.8);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
  }
  .container{
    position: relative;
    height: 30vh;
  }

  .card_img{
      height: 30vh;
      width: 20vw;
      background-color:rgba(22, 22, 22, 0.8);
  }
  
  
  .card:hover{
    transform: scale(1.05,1.05);
    box-shadow:  0px 30px 18px -8px rgb(rgb(245, 236, 236), green, blue);
  }
  .card_img:hover{
    opacity: 0.1;
  }

  .card_img:hover + .card_explanation{
   display: block;
   color: white;
   position: relative;
   bottom: 10rem;
   font-size: 86%;
   margin: 1%;
   text-align: center;
  }

.card_explanation{
   display: none;
}
.card_info{
  background-color: #1A1053;
}
p{
  font-family: 'Manrope', sans-serif;
}