a:link,
a:hover,
a:visited,
a:active{
    text-decoration: none;
    color: inherit;
}
.Journal{
    background-color: rgba(65, 179, 255, 0.103);
    height: 100%;
    width: 100%;
}
.navbar {
    background-color: white ;
    position: fixed;
    text-align: center;
    width: 100%;
    top: 0;
    z-index: 1;
  }
  .main {
    margin: 15vh 0px 0px 10vw;
  }

