@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Quicksand:wght@500&display=swap');
*{
    border: 0;
}

body{
    background-color: white;
    overflow-x: hidden;
}

.app{
    display: flex;
    height: 100%;
}
p{
    color: #1A1053;
    font-family: 'Manrope', sans-serif;
}
h3{
    font-family: 'Quicksand', sans-serif;
    color: white;
}
h2{
    font-family: 'Quicksand', sans-serif;
    color: #6236ff;
    font-size: 28px;
}
::-webkit-scrollbar  {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #cec4c4; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #918686; 
    border-radius: 10px;
}